

.bubble-counter{
    

    width:var(--bubble-counter-width);
    height:var(--bubble-counter-height);
    background: rgb(222,191,149);
    background:var(--bubble-counter-background);
    @include flex-center-align;
    flex-direction: column;
    gap: 1rem;

    right:var(--bubble-counter-right);
    top:var(--bubble-counter-top);
    bottom:var(--bubble-counter-bot);
    left:var(--bubble-counter-left);
    border-radius: 100rem;
    

    &__cal-count{
        font-size:var(--bubble-counter-cal-num-font);
        color:var(bubble-counter-cal-count-color);
        &__span{
            font-size:var(--bubble-counter-cal-count-font-size);
        }
    }


    &__shots{
        @include flex-center-align;
        flex-direction: column;
        gap: $bubble-counter-shot-gap;
    }



}