
.carousel{
   
    margin: 2rem  2rem ;

    width: 100%;

    overflow-x:$carousel-overflow-x;

    @include flex-center-align;


    //for mobile this will need to be added via media query
    //justify-content: flex-start;

}

.carousel-container{

    
    @include flex-center-align;

    width:max-content;

    

    &:hover &__drink-option:not(:hover){
        transform: $carousel-hover-anim-scale;

        filter: opacity(60%);

    }





//HIDES some options on the left 
    &__drink-option{

        @include flex-center-align;

        width: 100%;

        transition: $carousel-scale-transition;
       

       


        &__liquor-container{

           
            @include flex-center-align;
            flex-direction: column;
            gap: .9rem;

            text-decoration: none;
            color:$carousel-liquor-name-color;
            



            

            //gap: 1rem;


            &__img{

                height:$carousel-liquor-img-height;

                

            }
        }
    }
}