
.carousel{
   
    margin:var(--carousel-margin);

    width: var(--carousel-width);

    overflow-x:var(--carousel-overflow-x);

    @include flex-center-align;


    //for mobile this will need to be added via media query
    //justify-content: flex-start;

    @include respond("tab-port"){
        justify-content: flex-start;
    }

}

.carousel-container{

    
    @include flex-center-align;

    width:max-content;

    

    &:hover &__drink-option:not(:hover){
        transform:var(--carousel-hover-anim-scale);

        filter:var(--carousel-hover-filter);

    }





//HIDES some options on the left 
    &__drink-option{

        @include flex-center-align;

        width: 100%;

        transition:var(--carousel-scale-transition);

        position: relative;

        &__shot-container{

            height:var(--carousel-shot-container-height);
            width:var(--carousel-shot-container-width);
            background:var(--carousel-shot-container-background);
            border-radius:var(--carousel-shot-container-border-radius);
            @include flex-center-align;

            //Position absolute code 
            position: absolute;
            transform: translate(-50%, -50%);
            top:var(--carousel-shot-container-top);
            right:var(--carousel-shot-container-right);

            &__shots{
            color:var(--carousel-shot-container-shot-color);
            display: inline-block;
            font-size:var(--carousel-shot-container-shot-font-size);
            
        }

        }
       

       


        &__liquor-container{

           
            @include flex-center-align;
            flex-direction: column;
            gap: .9rem;

            text-decoration: none;
            color:$carousel-liquor-name-color;
            



            

            //gap: 1rem;


            &__img{

                height:$carousel-liquor-img-height;

                

            }
        }
    }
}