


.carousel-container{

    margin: 2rem  2rem ;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80vw;

    overflow-x: scroll;

    &:hover &__drink-option:not(:hover){
        transform: scale(0.9);
    }





//HIDES OPTIONS
    &__drink-option{

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        transition: .1s linear;
       

       


        &__liquor-container{

           
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: .9rem;

            text-decoration: none;
            color: black;
            



            

            //gap: 1rem;

            &__title{
               
                
                
            }

            &__img{

                height: 20vh;

                

            }
        }
    }
}