

.liquor-card{

    //position for the absolutely positioned buttons
    position: relative;

    //alignment code
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include flex-center-align;
    flex-direction: column;
    //sizing
    width: $liquor-card-width;
    height: $liquor-card-height;

    //misc styles
    box-shadow: $liquor-card-box-shadow;
    border-radius: .8rem;
    

    //color
    background-color:$liquor-card-background-color;

    


    &__liquor-img{
        height:$liquor-card-img-height;
        -webkit-filter: $liquor-card-img-drop-shadow;
        filter:$liquor-card-img-drop-shadow;
        margin-bottom: 3rem;
    }

    &__info-card{

        @include flex-center-align;
        flex-direction: column;
        gap: .5rem;

        &__liquor-title{
            font-size:$liquor-card-title-font-size;
        }

    
        &__liquor-cal{
    
            font-size:$liquor-card-cal-font-size;
            
    
        }

    }

    //button div 
    &__buttons{

        position: absolute;
        top:$liquor-card-button-position-top;
        bottom:$liquor-card-button-position-bot;
        right:$liquor-card-button-position-right;
        left:$liquor-card-button-position-left;
        transform: translate(-50%, -50%);

        z-index: 1;

        width: 100%;

        //position

        display: flex;
        align-items: center;
        justify-content: space-between;


        //selects all children in this case both our buttons
        & > button{
           
           margin: 1rem 2rem;
           border-radius: 50%;
           min-width:$liquor-card-button-width;
           min-height:$liquor-card-button-height;
           border: $liquor-card-button-border;
           box-shadow:$liquor-card-button-box-shadow;

           background-color: rgb(151, 206, 217);

        }


        &__sub{
        }

        &__add{
        }

    }
   
}


