

.liquor-card{

    //position for the absolutely positioned buttons
    position: relative;

    @include flex-center-align;
    flex-direction: column;

    //sizing
    width: var(--liquor-card-width);
    height: var(--liquor-card-height);

    //misc styles
    box-shadow: var(--liquor-card-box-shadow);
    border-radius: .8rem;
    

    //color
    background-color:var(--liquor-card-background-color);

    


    &__liquor-img{
        height:var(--liquor-card-img-height);
        -webkit-filter:var( --liquor-card-img-drop-shadow);
        filter:var(--liquor-card-img-drop-shadow);
        margin-bottom:var(--liquor-card-img-margin-bottom);
    }

    &__info-card{

        @include flex-center-align;
        flex-direction: column;
        gap:var(--liquor-card-info-flex-gap);

        &__liquor-title{
            font-size:var(--liquor-card-title-font-size);
        }

    
        &__liquor-cal{
    
            font-size:var(--liquor-card-cal-font-size);
            
    
        }

    }

    //button div 
    &__buttons{

        position: absolute;
        top:var(--liquor-card-button-position-top);
        bottom:var(--liquor-card-button-position-bot);
        right:var(--liquor-card-button-position-right);
        left:var(--liquor-card-button-position-left);
        transform: translate(-50%, -50%);

        z-index: 1;

        width:var(--liquor-card-button-container-width);

        //position

        display: flex;
        align-items: center;
        justify-content: space-between;


        //selects all children in this case both our buttons
        & > button{
           
           margin:var(--liquor-card-button-margin);
           border-radius: 50%;

           min-width:var(--liquor-card-button-width);
           min-height:var(--liquor-card-button-height);
           border:var(--liquor-card-button-border);
           box-shadow:var(--liquor-card-button-box-shadow);

           font-size:var(--liquor-card-button-font-size);
           color:var(--liquor-card-button-font-color);

           &:active{
            transform:var(--liquor-card-button-active-scale);
            box-shadow: 0 0 0;
           }
           transition:var(--liquor-card-button-transition);


        }


        &__sub{
            background-color:var(--liquor-card-button-sub-color);
        }

        &__add{
            background-color:var(--liquor-card-button-plus-color);
        }

    }
   
}


