
.main-page{
    //anchor value
    position: relative;

    //element sizing
    width:$main-page-width;
    height:$main-page-height;
    overflow-x: hidden;

    //alignment logic
    @include flex-center-align;
    flex-direction: column;


    //color
    background-color:$main-background-color;



    &__liquor-bubble{

        //alignment code
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;


        //element sizing
        height:$bubble-height;
        width:$bubble-width;


        //misc styled 


        

        &__info-container{
            margin: 2rem 4rem;

            //element sizing
            height:$info-container-height;
            width:$info-container-width;

            //alignment
            @include flex-center-align;
            flex-direction: column;
        }

        &__bubble-counter{
            margin: 2rem 4rem;
        }
    }
}